.chat-container{
    display: grid;
    grid-template-columns: 25% 75%;
}

.user-name{
    border-bottom: 1px solid black;
    padding: 5px;
}
/* .user-name :hover{
    border-bottom: 1px solid white;
} */
.user-text{
    margin-top: 0.25rem;
    
}
.potenrial-chat-header{
    color: aliceblue;
    display: block;
    margin: 0px;
    margin-bottom: 1rem;
}
.history-text{
    color: white;
    font-size: 1.25rem;
}
.all-user{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:0.5rem;
    /* flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem; */
}
.single-user{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 2px 10px;
    text-align: center;
    font-size: smaller;
    margin-left: 0.5rem;
}
.potential-container{
    margin-top: 4rem;
}
.chat-header{
    color: whitesmoke;
    text-align: center;
    background-color: darkgray;
    padding: 10px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.message-box{
    margin-top: 2rem;
    margin-left: 0.5rem;
    padding: 15px;
    background-color: transparent;
    border-radius: 20px;
    max-height: 500px;
    overflow: auto;
    font-family: Tahoma, sans-serif ;
    margin-right: 1rem;
    
}
.message{
    display: block;
    border-radius: 20px;
    padding: 0.25rem;
    font-weight: 500;
}
.message-date{
    display: block;
    font-size: 0.75rem;
    color: rgb(42, 49, 55);
}
.self-message{
    background-color: grey;
    text-align: right;
    padding: 5px;
    padding-right: 1rem;
    border-bottom: 1px solid rgb(42, 49, 55);
}
.other-message{
    padding: 5px;
    background-color: white;
    padding-left: 1rem;
    border-bottom: 1px solid gray;
}
.chat-footer{
    display: flex;
    margin-left: 20px;
    margin-top: 1rem;
}
.send-button{
    min-width: 100px;
    width: 10%;
    padding: auto;
    margin-right: 30px;
}

.all-user-chat-container{
    margin-left: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}
.all-user-chat-container :hover{
    border-radius: 0px;
    background-color: black;
    color: white;}
.all-user-chat-container button{
    text-align: left;
    border-radius: 0px;
    background-color: white;
    color: black;
    box-sizing: border-box;
    width: 100%;
}
.all-user-chat-container button :hover{
    border-radius: 0px;
    background-color: transparent;
    color: white;
}
.left-right-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
}
.chat-container{
    display: flex;
    flex-direction: column;
}
.chatbox{
    margin-top: 1rem;
}
.left-chat{
    margin-left: 1rem;
}

