.feed-render-com {
    background-color: white;
    max-width: 600px;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem auto;
}

.post {
    display: grid;
    grid-template-areas:
        'title title title'
        'user gym_name date'
        'gym_img gym_img gym_img'
        'post_description post_description post_description';
    align-items: center;
}

.user {
    grid-area: user;
    text-align: left;
}

.feedtitle {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    grid-area: title;
    text-align: center;
}

.post_description {
    grid-area: post_description;
    font-size: 1.5rem;
}

.gym_img {
    grid-area: gym_img;
    box-sizing: border-box;
    width: 100%;
}

.gym_name {
    grid-area: gym_name;
    text-align: center;
}

.date {
    grid-area: date;
    text-align: right;
}
